body{
    background:	#EADDCA ;
    height: 100vh;
}
h1{
    color: #800020;
    font-family: fantasy;
    font-size: 3em;
}
.container{
    display: grid;
    align-items:center;
    height: 100%;
    justify-content: center;
}
a{
    color: #800020;
}
p{
    font-size: 2em;
}
@media (max-width: 500px) {
h1{
    font-size: 2.5em !important;
}
p{
    font-size: 1.5em !important;
}
}
@media (max-width: 420px) {
   h1{
    font-size: 2.1em !important;
    }
    p{
        font-size: 1.4em !important;
    }
}
@media (max-width:365px){
    h1{
        font-size: 1.9em;
    }
}